<div class="centered-content">
    <div class="modal-box">
        <h1>
            <b>Create a new Task</b>
        </h1>
        <input #taskTitleInput class="input has-background-light" type="text" placeholder="Enter task name...">
        <div class="buttons is-right">
            <button class="button is-primary has-text-white" (click)="createTask(taskTitleInput.value)" routerLink="/">Create</button>
            <button class="button" routerLink='/'>Cancel</button>
        </div>
    </div>
</div>
