.modal-box{
    min-height: 200px;
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 5px;
    padding: 35px;

}
.input{
    color:grey;
    margin:20px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
}
h1{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.801);
}